<div class="user_card">
  <a href="/profile/<%= h meta["user_id"] %>">
    <div class="user_card_wrapper">
      <img src="/user/<%= h meta["user_id"] %>/icon.webp" class="usericon">
      <span class="user_card_username"><%= h meta["username"] %></span>
    </div>
  </a>
</div>
